<% if flash[:notice] %>
<div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<div class="container">

<h1>Gustavo Sebastian Elizalde</h1>
<p>Find me in app/views/pages/x.html.erb</p>


<h2>Formulario de registro</h2>
<form action="<%= pages_x_path %>" method="get">
	
	<label for="nombre">Nombre:<br>
		<input type="text" name="nombre" id="nombre">
	</label><br>

	<label for="email">Email:<br>
		<input type="email" name="email" id="email">
	</label><br>

	<label for="edad">Edad:<br>
		<input type="number" name="edad" id="edad">
	</label><br>

	<input type="submit" value="Enviar">

</form>

<% if @all_users.length > 1 %>

<h3>Usuarios registrados</h3>

<ul>
	<% @all_users.each do |user| %>
	<li><strong>Nombre:</strong> <%= user.nombre %> - <strong>Email:</strong> <%= user.email %> - <strong>Edad:</strong> <%= user.edad %> - </li>
	<% end %>
</ul>

<% end %>

</div>